/* Main.css */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    height: 100vh;
}

.main-container {
    text-align: center;
    margin-top: 50px;
    width: 80%; /* Điều chỉnh chiều rộng trang player */
}

.header {
    margin-bottom: 20px;
}

.start-button-container {
    margin-bottom: 20px;
}

.start-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffae00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Thêm đổ bóng */
}

.start-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error {
    color: red;
    margin-bottom: 20px;
}

.result-container {
    margin-top: 20px;
}

.result-container h3 {
    margin-bottom: 10px;
}

.result {
    font-size: 16px;
    color: floralwhite;
}
